:root {
    /* Colors */
    --clr-primary-200: hsl(341, 100%, 83%);
    --clr-primary-400: hsl(341, 92%, 62%);
    
    --clr-secondary-400: hsl(234, 25%, 52%);
    --clr-secondary-600: hsl(233, 54%, 16%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-700: hsl(232, 10%, 56%);

    --grad-red-400: linear-gradient(hsl(322, 87%, 55%), hsl(13, 100%, 64%));
    --grad-purple-400: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));


    /* Typography */
    --ff-primary: 'Plus Jakarta Sans', sans-serif;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extraBold: 800
}   

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-medium);
    line-height: 1.75rem;
    color: var(--clr-neutral-700);
}


.heading-xl {
    font-size: 3.5rem;
    font-weight: var(--fw-extraBold);
    line-height: 4.375rem;
    color: var(--clr-secondary-600);
}

.heading-l {
    font-size: 2.5rem;
    font-weight: var(--fw-extraBold);
    line-height: 3.188;
    color: var(--clr-secondary-600);
}

.heading-m {
    font-size: 2rem;
    font-weight: var(--fw-extraBold);
    line-height: 2.5rem;
    color: var(--clr-secondary-600);
}

.heading-s {
    font-size: 1.5rem;
    font-weight: var(--fw-extraBold);
    color: var(--clr-secondary-600);
}

.body-m {
    font-size: 1.125rem;
}

.body-s {
    font-weight: var(--fw-bold);
}

.button {
    background: var(--clr-secondary-600);
    color: var(--clr-neutral-100);
    font-size: 1.125rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.red-gradient {
    background: var(--grad-red-400);
}

.purple-gradient {
    background: var(--grad-purple-400);
}